extends layout

block content
  h1 My Account
  p Here you can change your account settings.
  div.form-group
    label(for="name") Username:
    input#name.form-control(
      type="text"
      name="name"
      placeholder="John Smith"
    )

  div.form-group
    label(for="email") Email:
    input#email.form-control(
      type="email"
      name="email"
      placeholder="john.smith@email.com"
    )
  
  .form-check.form-check-inline
    input#themeLight.form-check-input(type='radio' name='themeOptions' value='light' checked)
    label.form-check-label(for='themeLight') Light Theme
  .form-check.form-check-inline
    input#themeDark.form-check-input(type='radio' name='themeOptions' value='dark')
    label.form-check-label(for='themeDark') Dark Theme