doctype html
html
  head
    title= `${title || "Default"}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href = '/')
        img(src = '/img/logo.png', width = '87', height = '37')
      button.navbar-toggler(type = 'button', data-toggle='collapse', data-target='#navbarToggler' aria-controls='navbarToggler', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      
      div#navbarToggler.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.mt-2.mt-lg-0
          li.nav-item(class=`${home || ""}`)
            a.nav-link(href = '/') Home
          li.nav-item(class=`${login || ""}`)
            a.nav-link(href = '/login') Log In
          li.nav-item(class=`${stories || ""}`)
            a.nav-link(href = '/stories') My Stories
          li.nav-item(class=`${graphs || ""}`)
            a.nav-link(href = '/graphs') My Graphs
          li.nav-item(class=`${account || ""}`)
            a.nav-link(href = '/account') My Account

    div.container
      block content