extends layout

block content
  h1 Create a New Story
  if message
      .alert.alert-danger(role="alert")= message
  //- if data
  //-   p= "story ID = " + story_ID + " json = " + JSON.stringify(data)
  button#collapseall.btn.btn-primary(type='button' style="margin-bottom: 0.5em") Collapse All
  form(action="/new_story" method="POST")
    input#story_ID(
        type="number"
        name="story_ID"
        value= `${story_ID || story_ID == 0 ? story_ID : -1}`
        style="visibility: hidden; display: none"
      )
    #accordionForm.accordion
      div.form-group
        label(for="title") Title:
        input#title.form-control(
          type="text"
          name="title"
          placeholder="A Book"
          value= `${data ? data.title : ""}`
        )
      div.form-group
        label(for="wordcount") Wordcount/Runtime:
        input#wordcount.form-control(
          type="number"
          name="wordcount"
          placeholder=80000
          value= `${data ? data.wordcount : ""}`
        )

      .card(draggable="true")
        #heading1.card-header
          .d-inline-flex.justify-content-start
            button#del1.delchapter.btn.btn-outline-danger(type="button") -
          .d-inline-flex.justify-content-center
              input#name1.form-control(
                type="text"
                name="name1"
                placeholder="Chapter 1"
                style="width:90%;"
                data-toggle='collapse'
                data-target='#collapse1'
                aria-expanded='false'
                aria-controls='collapse1'
                value= `${data ? data.name1 : "Chapter 1"}`
              )
          .d-inline-flex.justify-content-end
            button#add1.addchapter.btn.btn-outline-primary(type="button") +
        #collapse1.collapse.show(aria-labelledby='heading1')
          .card-body
            div.form-group
              label(for="size1") Wordcount/Runtime:
              input#size1.form-control(
                type="number"
                name="size1"
                placeholder=2500
                value= `${data ? data.size1 : ""}`
              )
            div.form-group
              label(for='characters1') Characters:
              input#characters1.form-control(type="text", data-role="tagsinput", name="characters1", value= `${data ? data.characters1 : ""}`)

    .form-group(style="margin-top:0.5em")
      a.btn.btn-danger(href="/stories", role="button", style="margin-right:0.5em") Cancel
      button.btn.btn-success(type='submit') Save
  
  #delconfirm.modal(tabindex='-1' role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Delete Chapter
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p Are you sure you want to delete this chapter?
        .modal-footer
          button#delyes.btn.btn-danger(type='button' data-dismiss='modal') Yes
          button.btn.btn-secondary(type='button' data-dismiss='modal') No

  #minchapter.modal(tabindex='-1' role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Error
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          p A story must have at least one chapter.
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Okay

  script(type="text/javascript") let data = !{data ? JSON.stringify(data) : "{}"}
  script(src='/js/new_story.js')